@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


.logo {

    margin-left: 350px;
    width: 200px;
}

.caixa {

    width: 100%;
    display: flex;
}

.caixa-esquerda {

    display: inline-block;

}

.caixa-direita {

    display: inline-block;
    margin-left: 140px;

}

.caixa-texto {

    border: 4px black solid;
    margin-bottom: 10px;
}

.intro-pag {

    font-family: 'Roboto', sans-serif;
    margin-left: 400px;
}

#titulo {

    font-family: 'Raleway', sans-serif;

}

.conteudo-padrao {

    font-family: 'Roboto', sans-serif;
    margin-left: 400px;

}

#space {

    font-family: 'Raleway', sans-serif;
    color: #0f640f;

}

#pac {

    font-family: 'Raleway', sans-serif;
    color: #c7c717;

}

#dk {

    font-family: 'Raleway', sans-serif;
    color: #5C3317;

}

#mario {

    font-family: 'Raleway', sans-serif;
    color: #C1440E;

}

.imagens {

    width: 200px;

}

p {

    width: 624px;
    text-align: justify;

}

.cor-link{

    color: black;
    text-decoration: none;
}